<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <httpErrors existingResponse="PassThrough" />
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
        <modules runAllManagedModulesForAllRequests="false">
            <clear/>
            <!--<add type="Fusion.Data.Web.NHibernateHttpModule, Fusion.Data.Web" name="NHibernateHttpModule" />-->
            <!--<add type="WorkflowMax.Web.Mvc.Security.CredentialModule, WorkflowMax.Web.Mvc" name="CredentialModule" />-->
        </modules>
        <handlers>
            <clear />
            <add name="ApiProxy" path="api-channel" verb="OPTIONS,GET,PUT,DELETE,POST"
                 type="WorkflowMax.Api.V2.Integration.Proxy.XpmApiRpcHandler, WorkflowMax.Api.V2.Integration.Proxy" />
        </handlers>
    </system.webServer>
</configuration>
