@model CustomerHomeIndex
@{
    ViewBag.Title = "Index";
}

<table>
    @foreach (var customer in Model.Customers)
    {
        <tr>
            <td>@customer.FirstName</td>
            <td>@customer.LastName</td>
        </tr>
    }
</table>
