@model CustomerHomeIndex
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.React("ItemListTable", new
{
    initialData = Model.Customers
}, null, "item-list-table-container")

<div id="item-list-table-container"></div>


